<div class="extra-links">
  <h3>Links of interest</h3>
  <ul>
    <li><a href="https://gitlab.com/categulario/tiempo-rs#installation">How to install tiempo</a></li>
    <li><a href="https://gitlab.com/categulario/tiempo-rs">Repository</a></li>
    <li><a href="https://gitlab.com/categulario/tiempo-rs/-/blob/main/CHANGELOG.md">Changelog</a></li>
    <li><a href="https://gitlab.com/categulario/tiempo-rs/-/releases">Releases</a></li>
    <li><a href="https://aur.archlinux.org/packages?O=0&K=tiempo">Packages in AUR</a></li>
  </ul>
</div>
